*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;

}

.layout-1{
    background-color: #fa0707;
    float: left;
    height: 40%;

}

.layout-2{
    background-color: #e3e3e3;

}

.layout-3{
    background-color: #e3e3e3;

}

.layout-1 #topHeader{
    background-color:red;
    height: 90px;
    width: 200%;
    padding: 20px;
    float: initial;
    padding-bottom: 25px;

}

.layout-1 nav{
    background-color:rgb(0, 238, 255);
    height: 40px;
    width: 200%;
    padding-left: 20px;
    display: inline-block;

}

.layout-1 section{
    background-color:green;
    height: 20px;
    padding-bottom: 50px;
}

.layout-1 #sectionHeader{
    background-color:yellow;
    height: 30px;
    padding-bottom: 4%;
    float: center;
 }

.layout-1 article{
    background-color:orange;
}
.layout-1 aside{
    background-color:purple;
}

.layout-1 aside a{
    background-color:rgba(255, 255, 255, 0.945);
}

.layout-1 footer{
}

#topHeader2{
    background-color:red;

}
.layout-2 nav{
    background-color:blue;

}

.layout-2 nav a{
    background-color:rgb(255, 255, 255);
}

#content{
    background-color:green;
    height:20px;
}

.article2{
    background-color:yellow;
}

.aside-content{
    background-color:purple;
    height:20px;

}

.aside-info{
    background-color:aqua;
}

.layout-2 img{
    background-color: aqua;
}

.layout-2 footer{
}

.layout-3 header{
    background-color:red;
}

#sectionHeader3{
    background-color:blue;
}

.layout-3 nav{
    background-color:yellow;
}

.layout-3 section{
    background-color:orange;
}

.layout-3 aside{
    background-color:purple;
}

#pageFooter{
    background-color:green;
}