*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;

}

.layout-1{
    background-color: #fa0707;
    float: left;
    height: 40%;
}

.layout-2{
    background-color: #e3e3e3;

}

.layout-3{
    background-color: #e3e3e3;
    float: left;
    width: 100%;

}

.layout-1 #topHeader{
    background-color:red;
    padding-left: 20px;
    float: left;
    width: 70%;
    padding-bottom: 40px;
    padding-left: 200px;
    padding-top: 30px;

}

.layout-1 nav{
    background-color:rgba(17, 0, 255, 0.767);
    float: left;
    width: 100%;
    padding-bottom: 1.5px;
    padding-left: 200px;
    padding-top: 1.5px;
}

.layout-1 section{
    background-color:green;
    float: left;
    width: 200px;
}

.layout-1 #sectionHeader{
    background-color:yellow;
    float: left;
    width: 100%;
    padding-bottom: 10px;
    padding-left: 1px;
    padding-top: 12px;
 }

.layout-1 article{
    background-color:orange;
    float: left;
}
.layout-1 aside{
    background-color:purple;
    float: left;
    width: 30%;
    text-align: center;
}

.layout-1 aside a{
    background-color:rgba(255, 255, 255, 0.945);
    width: 100%;
    display: inline-block;
}

.layout-1 footer{
    background-color: rgb(6, 173, 250);
    float: left;
    width: 100%;
}

#topHeader2{
    background-color:rgb(255, 0, 0);
    padding-left: 10px;
    float: left;
    width: 100%;
    padding-bottom: 40px;
    padding-left: 200px;
    padding-top: 30px;


}
.layout-2 nav{
    background-color:blue;
    float: inherit;
    width: 100%;
    padding-left: 10px;
    padding-top: 30px;
    padding-bottom: 40px;

}

.layout-2 nav a{
    background-color:rgba(255, 255, 255, 0.911);
    height: 100px;
    float: inherit;
    width: 20%;

}

#content{
    background-color:green;
    float: inherit;
    width: 200%;
    padding-top: 30px;
    padding-bottom: 40px;
}

.article2{
    background-color:yellow;
    float: initial;
    width: 200%;
}

.aside-content{
    background-color:purple;
    float: left;
    width: 100%;
    height:20px;

}

.aside-info{
    background-color:rgb(3, 245, 245);
}

.layout-2 img{
    background-color: aqua;
}

.layout-2 footer{
    background-color: aqua;
}

.layout-3 header{
    background-color:red;
}

#sectionHeader3{
    background-color:blue;
}

.layout-3 nav{
    background-color:yellow;
}

.layout-3 section{
    background-color:orange;
}

.layout-3 aside{
    background-color:purple;
}

#pageFooter{
    background-color:green;
}